table{
 width:100%;
}	
tr:nth-child(odd){ 
 background-color:red; 
 color:white;
}
tr:nth-child(even){ 
 background-color:yellow; 

}

th{
 background-color:lightgray;
 color:black;
 border-radius:10px;
}
/*nth-child används om du till exmple vill att all elment som har rad numer 4 har texten i miten  */
td:nth-child(4),th:nth-child(4){
 text-align:right;
}
td:nth-child(2),th:nth-child(2),td:nth-child(3),th:nth-child(3){
 text-align:center;
}
td:nth-child(1),th:nth-child(1){
 text-align:left;
}
table, td, tr ,th{
 border: 1px solid black; 
 border-collapse: collapse;
}
th,td{
 width:25%;
}
/*list-style vilken stile listan har till exemple o det sk ha punkt eller numer grid-template-columns beskriver att det fins 4 columnrar som är 100px stora  */
nav>ul{
 list-style:none;
 display: grid;
 grid-template-columns: 100px 100px 100px 100px;
 grid-gap:10px;
}
/*display vikan rita ut det med en bred och en höjd   */
nav a{
 text-align:center;
 display:block;
 width:100%;
}
main p{
 color:#aaa;
}
/* grid column säger att den ska ha tre columnrar som streker sig över 2 clumrar */
/*grid-row  sträker sige över en column */
.item-c {
 grid-column: 3 / span 2;
 grid-row: third-line / 4;
}
header{
 font-size: 2em;
}
h1,p{
 font-family: ariel;
}
body{
 background-color:#dddddd;
}
/* får text runt bild */
#bild{
 float:left;	
}
/*koder för vad som händer om du klikar på nvagtions linkarna till exemple om du har besökt den del av hemsidan redan en gång tidager blir text färgen blå */
a:link{
 color:green;
}
a:visited{
 color:purple;
}
a:focus{
 color:blue
}
a:hover{
 color:rgb(0,255,0);
}
a:active{
 color:red
}




